Lists can contain anything... strings, numbers, other lists, a mixture of all of them...

#### Examples of lists

In [4]:
l1 = [1,2,3,4]
l2 = ['a', 'b', 'c', 'd']
l3 = [[1,2,3,4], [5,6,7,8]]

#### Adding elements to a list

In [5]:
l1.append(5)
print(l1)

[1, 2, 3, 4, 5]

In [6]:
l1 = l1 + [6]
print(l1)

[1, 2, 3, 4, 5, 6]

##### How long is the list?

In [9]:
len(l1)

6

##### Getting elements out of the list

In [11]:
l1

[1, 2, 3, 4, 5, 6]

In [12]:
l1[2]

3

In [14]:
l1[4]

5

In [15]:
for elt in l1:
    print(elt)

1
2
3
4
5
6

In [16]:
for i in range(len(l1)):
    print(l1[i])

1
2
3
4
5
6

#### Exercises

Using lists defined above:
- What is l2[3]?
- What is l3[1]?
- What is l2[7]?

Check your answers by running in the cells below

Recall from above that l2 = ['a', 'b', 'c', 'd']

To get the 'c' from the list we use the fact that it is in the 2nd position (because we start from zero)

In [17]:
l2[2]

'c'


From above, see that l3 = [[1,2,3,4], [5,6,7,8]].

How do I pull out the element that is 6? Check by running in the cell below.

### Dictionaries

#### Examples of dictionaries

In [18]:
d1 = {'a': 1, 'b': 2, 'c': 3}

dictionaries are pairs of keys and values

'c' is a key and 3 is the value associated to that key

In [19]:
d1['c']

3

In [20]:
d2 = {'foo': 'bar', 'bar': 'foo'}

what is d2['foo']? what is d2['bar']?

check your answers below

dictionaries can have any values.... strings, numbers, lists, other dictionaries, any of the above

In [21]:
d3 = {'a': [1,2,3,4], 'b': 10, 'c': {'foo': 'bar'}}

- How do you access the number 3 in d3?
- How do you access the string 'bar in d3?

Check answers below