Refer back to the two notebooks as necessary
- lists-and-dictionaries.ipynb
- list-refresher.ipynb

Exercise 1

In [3]:
list1 = [1,4,8,23,6]

In [4]:
list1

[1, 4, 8, 23, 6]

Write code to sum up all the numbers in list1 by looping through the elements, i.e. don't just write 1+4+8+23+6

In [7]:
total = 0
for i in range(len(list1)):
    total += list1[i]
print(total)

42

Exercise 2

Write code to find the largest number in list1

There are two examples below for how to compare two numbers to find the biggest.

In [2]:
num1 = 24
num2 = 46

if num1 > num2:
    bigger_number = num1
else:
    bigger_number = num2

print(bigger_number)

46

In [12]:
largest = [0]
for i in range(len(list1)):
    if list1[i] > list1[i+1]:
        largest.append(list1[i])
print(largest[0])

0

In [16]:
largest = 0
for i in range(len(list1)):
    largest = (max(list1[i], largest))
print (largest)

23

Exercise 3

Count the number of strings in list2. Guess what the answer will be before running the code

There is an example below of how to check whether something is a string

In [18]:
list2 = [1, 3, True, 'hello', 'theo', '12345', 12345]

In [5]:
type(123) == str

False

In [20]:
type('maisy') == str

True

In [20]:
counter = 0
for i in range(len(list2)):
    if type(list2[i]) == str:
        counter += 1
print (counter)

3

Exercise 4

Create a new list called list3 that is an exact clone of list2. Do it by looping through the list, i.e. don't just write list3 = [1, 3, True, 'hello', 'theo', '12345', 12345]

You can check that two lists are the same

In [9]:
tmp_list1 = [1,2]
tmp_list2 = [1,2]
tmp_list3 = [2]

print(tmp_list1 == tmp_list2)
print(tmp_list1 == tmp_list3)

True
False

edit cell below to implement code and then run the check in the cell below to make sure you get True

In [21]:
list3 = []

In [22]:
list3 == list2

False

In [23]:
for i in range(len(list2)):
    list3.append(list2[i])
print (list2)
print (list3)

[1, 3, True, 'hello', 'theo', '12345', 12345]
[1, 3, True, 'hello', 'theo', '12345', 12345]

Exercise 5

Create a new list called list4 that clone of list2 except that it doesnt contain the element 'hello'.

You should be able to run the check below and get True

In [24]:
list4 = []

In [13]:
list4 == [1, 3, True, 'theo', '12345', 12345]

False

In [26]:
for i in range(len(list2)):
    if list2[i] == 'hello':
        pass
    else:
        list4.append(list2[i])
print(list4)
print(list2)

[1, 3, True, 'theo', '12345', 12345, 1, 3, True, 'theo', '12345', 12345]
[1, 3, True, 'hello', 'theo', '12345', 12345]

### Exercise 6

There are two lists, list5 and list6, both with a length of 10 and containing integers.

Create a new list, list 7, where 
- the first element of list 7 is equal to the sum of the first element of list5 and the last element of list6
- the second element is equal to the sum of the second element of list5 and the second to last element of list6
- etc
- the last element of list 7 is equal to the sum of the last element of list5 and the first element of list6

In [4]:
list5 = [4,7,6,19,2,5,16,23,89,1]
list6 = [-2,3,17,2,4,6,19,-2,0,99]

you can use the following:

In [2]:
list6[-1]

99

In [6]:
list7 = []
for i in range(len(list5)):
    list7.append(list5[i] + list6[-i - 1])
print (list7)

[103, 7, 4, 38, 8, 9, 18, 40, 92, -1]

In [7]:
list8 = ['a','b','c']
'a' in list8

True

In [8]:
10 in list8

False

In [9]:
s ='theo'

In [10]:
't' in s

True

In [17]:
list9 = [
    'theo',
    'maisy',
    'boisey',
    'slimy',
    'Steven'
]

Create a new list, list10, that contains all the words that contain the letter 's'

In [19]:
list_s = []
for i in range(len(list9)):
    if 's' in list9[i] or 'S' in list9[i]:
        list_s.append(list9[i])
print(list_s)

['maisy', 'boisey', 'slimy', 'Steven']

In [22]:
'theo'[0].upper()

'T'

Create a list, list11, that consist of all the names in list9 but with the first letter being upper case

In [61]:
def make_first_letter_upper(name):
    list_name = list(name)
    list_name[0]= list_name[0].upper()
    return ''.join(list_name)

list11 = []
list_name = []
totalthing = []
for i in range(len(list9)):
    totalthing.append(make_first_letter_upper(list9[i]))
print(totalthing)

['Theo', 'Maisy', 'Boisey', 'Slimy', 'Steven']

In [32]:
name = 'tony'
name_list = list(name)
print(name_list)

['t', 'o', 'n', 'y']

In [33]:
name_list[0] = name_list[0].upper()
print(name_list)

['T', 'o', 'n', 'y']

In [37]:
''.join(name_list)

'Tony'